GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_UILaunchScreen_Generation = YES
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0
ENABLE_USER_SCRIPT_SANDBOXING = NO
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
DEVELOPMENT_TEAM = 566MC7D8D4
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown
